# Config and Htaccess Files
/www/.htaccess
/www/config.php
/www/admin/config.php
/vendor/*

# Image File
!/www/image/no_image.jpg

# Image Cache Files
/www/image/cache/*
!/www/image/cache/index.html

# System Cache Files
opencart-storage/cache/*
!opencart-storage/cache/index.html

# Modification Files
opencart-storage/modification/*
!opencart-storage/modification/index.html

# Templates Files
/www/image/templates/*
/www/image/templates/default.jpg

# Download Files
opencart-storage/download/*
!opencart-storage/download/index.html

# Session Files
opencart-storage/session/*
!opencart-storage/session/index.html

# Upload Files
opencart-storage/www/*
!opencart-storage/www/index.html

# Flags 
# remove sharp char if you want to add flags to gitignore
# /www/flags/*

# Log Files
opencart-storage/logs/*
!opencart-storage/logs/index.html

# If you want to ignore install file use following lines [on development mode]
# /www/backup.install/*
# /www/install/*

# Ignore all vendor files included by composer and the lock file
/tests/phpunit/vendor/*
/tests/phpunit/composer.lock

# Test Config File
/tests/phpunit/bootstrap.php

# IDE Project files
/.idea
